<!DOCTYPE html>
<html>
 <head>
  <title>Delayed Tours</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/custom.css') }}"/>
 </head>
 <body>
    <div class="container-fluid breadcrumbBox text-center">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}">Главная</a></li>
            <li><a href="{{ url_for('catalog') }}">Каталог</a></li>
            <li class="active"><a href="#">Отложенные</a></li>
            <li><a href="{{ url_for('booking') }}">Забронированные</a></li>
            
        </ol>
    </div>
    
    <div class="container text-center">
        <div class="col-md-5 col-sm-12">
            <div class="bigcart"></div>
            <h1>Your delayed tours</h1>
            <p>Your delayed tours</p>
        </div>
        
        {% if "Delayed" in session %}
        <p>Delayed Data: {{ delayed }}</p>
        {% else %}
        <p>No delayed session found</p>
        {% endif %}
        
        <div class="col-md-7 col-sm-12 text-left">
            <ul>
                <li class="row list-inline columnCaptions">
                    <span>Количество</span>
                    <span>Название</span>
                    <span>Стоимость</span>
                </li>
   
     </li>
        {% if "items" in delayed_tours %}
        {% for tour_id in delayed_tours["items"] %}
            <li class="row">
                <form action="/remove_from_delayed/{{ tour_id }}" method="post">
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
                <span class="quantity">{{ delayed_tours["items"][tour_id]["qty"] }}</span>
                <span class="itemName">{{ delayed_tours["items"][tour_id]["item"] }}</span>
                <span class="price">Р {{ delayed_tours["items"][tour_id]["price"] }}</span>
                <br>
            </li>
            <form action="/add_to_booking/{{ tour_id }}" method="post">
                <button type="submit" class="btn btn-success">Book</button>
            </form>
            <img class="d-block w-50" src="{{ url_for('static', filename='images/palm.png') }}">      {% else %}
        <p>No delayed tours available</p>
        {% endif %}
     <li class="row totals">
      <span class="itemName">Total:</span>
      <span class="price">${{ delayed_tours["total"] }}</span>
     </li>
    </ul>
   </div>
  </div>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 
  <script src="{{ url_for('static',filename='scripts/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='scripts/customjs.js') }}"></script>
 </body>
</html>