<!doctype html>
<html>
  <head>
    <title>Актуальные цены на туры</title>
  </head>
  <body>
    <p>Здравствуйте!</p>
    <p>Спасибо за ваше обращение. Вот наши текущие предложения:</p>
    {% for tour in tours %}
    <div>
      <h2>{{ tour.title }}</h2>
      <p>Цена: {{ tour.price }}</p>
      <a href="{{ tour.link }}">Подробнее...</a>
    </div>
    {% endfor %}
    <p>Вы оставили следующее сообщение: "{{ message }}"</p>
    <p>Мы скоро свяжемся с вами по номеру: {{ phone }}</p>
    <p>С уважением,<br/> Ваш команда</p>
  </body>
</html>
